{% extends "base.html" %}

{% block sidebar %}
  <input class="form-control form-control-sm" id="table-search" placeholder="table name..." type="text" />

  <!-- Tabele -->
  <h5>Tables</h5>

  <ul class="nav flex-column nav-pills" role="tablist">
    {% set virtual_tables = dataset.get_virtual_tables() %}
    {% set virtual_tables_corollary = dataset.get_corollary_virtual_tables() %}
    {% set tables, views = dataset.get_tables_and_views() %}

    {% for table_name in tables %}
      {% if table_name not in virtual_tables_corollary %}
      <li class="nav-item table-link">
        <a class="nav-link{% if table and table_name == table %} active{% endif %}" href="{{ url_for('table_structure', table=table_name) }}" title="{{ table_name }}">
          {{ table_name|truncate(24, True, leeway=2) }}
          {% if table_name in virtual_tables %}
            <sup>(v)</sup>
          {% endif %}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <!-- Nagłówek dla widoków -->
  <hr />
  <h5>Views</h5>
  <ul class="nav flex-column nav-pills" role="tablist">
    {% for view_name in views %}
      <li class="nav-item table-link">
        <a class="nav-link{% if table and view_name == table %} active{% endif %}" href="{{ url_for('table_structure', table=view_name) }}" title="{{ view_name }}">
          {{ view_name|truncate(24, True, leeway=2) }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <!-- Helper tables -->
  <hr />
  <ul class="nav nav-pills nav-stacked" id="helper-tables" role="tablist"{% if table not in virtual_tables_corollary %} style="display:none;"{% endif %}>
    {% for table_name in virtual_tables_corollary|sort %}
      <li{% if table and table_name == table %} class="active"{% endif %}>
        <a href="{{ url_for('table_structure', table=table_name) }}" title="{{ table_name }}">
          <small>{{ table_name|truncate(24, True, leeway=2) }}</small>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
